.projectsStyles {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
}

.projectsStyles h2 {
  margin: 40px 0;
  font-size: 2rem;
}

.box {
  width: 450px;
  max-width: 457px;
  height: 300px;
  max-height: 306px;
  margin: 20px 0 10px 0;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 25px;
}

.topLine {
  display: flex;
  flex-wrap: wrap;
}

.topLine > * {
  flex: 1 1 50%;
}

.projectsStyles h3 {
  display: inline-block;
}

.projectsStyles h3:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: all 0.5s;
}
.box:hover {
  transition: all 0.5s;
  transform: scale(1.05);
}
