.contactPageStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  border-radius: 0 0 25px 25px;
  padding-bottom: 20vh;
  margin-top: 10%;
}

.contactPageStyles h2 {
  margin-bottom: 10px;
}

.contactPageStyles a {
  text-decoration: none;
  color: black;
  display: flex;
  white-space: nowrap;
}
.contactPageStyles ul {
  width: 300px;
}
.contactPageStyles strong {
  margin-right: 5px;
}

.contactPageStyles li {
  list-style: none;
  margin: 10px 0;
  font-size: 1.4rem;
  text-align: justify;
}

.contactPageStyles li:hover {
  text-decoration: underline;
  font-size: 1.42rem;
  font-weight: bold;
}

/* icons styles */

.icons {
  color: rgb(128, 123, 123);
  margin-right: 5px;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  text-align: center;
}

.envelop {
  padding: 1px;
}

/*************** media queries ************/
