.navigation {
  display: flex;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 25px 25px 0 0;
}

/* left size inside navigation - name */
.left-size {
  width: 50%;
  display: flex;
  text-align: start;
  align-items: center;
  margin-left: 10%;
}
.left-size:hover {
  text-decoration: underline;
}

/* right size inside navigation links */
.right-size {
  width: 50%;
}

.ulNavigation {
  list-style: none;
  display: flex;
  justify-content: end;
  margin: 20px;
}

.liNavigation {
  margin: 0 25px 0 0;
}
.liNavigation:hover {
  text-decoration: underline;
}

.liNavigation:last-child {
  margin: 0 10% 0 0;
}

/********** query media  ****************/
@media only screen and (max-width: 400px) {
  .navigation {
    min-width: 305px;
    font-size: 1.4rem;
  }

  .liNavigation,
  .liNavigation:last-child {
    margin-right: 10px;
  }

  .myName a {
    color: rgb(68, 68, 68);
  }
  .left-size {
    margin-left: 3%;
  }
}
