.navigation {
  display: flex;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 25px 25px 0 0;
  min-width: 320px;
}

/* left size inside navigation - name */
.left-size {
  width: 50%;
  display: flex;
  text-align: start;
  align-items: center;
  margin-left: 10%;
}
.left-size:hover {
  text-decoration: underline;
}

.myName {
  padding-bottom: 10px;
}

/* right size inside navigation links */
.right-size {
  width: 50%;
  margin-right: 5%;
  white-space: nowrap;
}

.ulNavigation {
  list-style: none;
  display: flex;
  justify-content: end;
  margin: 15px 0;
}

.liNavigation {
  margin: 0 25px 0 0;
}

.liNavigation:hover {
  text-decoration: underline;
}

.flag {
  cursor: pointer;
  margin-right: 5px;
}

/********** query media  ****************/
@media only screen and (max-width: 715px) {
  .myName {
    display: none;
  }
  .right-size {
    width: 100%;
    margin-right: 4%;
  }
  .left-size {
    display: none;
  }
  .navigation {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 400px) {
  .liNavigation a:first-child {
    word-spacing: -2px;
  }

  .navigation {
    min-width: 320px;
    font-size: 1.2rem;
  }

  .liNavigation,
  .liNavigation:last-child {
    margin-right: 10px;
    padding-top: 5px;
  }
  .flag {
    margin-left: 1px;
  }
}
