* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Tahoma, Poppins-r, Poppins, MetalMania-Reg, Tahoma, sans-serif;
}

.app {
  margin: 3% auto;
  width: 75vw;
  max-width: 1920px;
  height: auto;

  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.952);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.938);
}

@media only screen and (max-width: 1200px) {
  .app {
    width: 85vw;
  }
}
@media only screen and (max-width: 1025px) {
  .app {
    width: 90vw;
  }
}
@media only screen and (max-width: 925px) {
  .app {
    width: 95vw;
  }
}
@media only screen and (max-width: 780px) {
  .app {
    width: 100vw;
  }
}
@media only screen and (max-width: 420px) {
  .app {
    min-width: 310px;
    margin: 0 auto;
    border-radius: 0px;
  }
}
